body {
  background-color: #fff;
  margin: 0;
  padding: 0px;
  height: 100%;
}

html {
    height: 100%;
    padding: 0px;
    font-family: Helvetica, Arial, Times;
}

h1 {
  display: flex;
  font-size: 30pt;
  align-items: center;
  width: 100%;
  height: 50%;
  color: #292c34;
  border-bottom: 7px solid #292c34;
}

#page-grid {
  display: grid;
  height: 100%;
  width: 90%;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr;
  grid-column-gap: 80px;
}

#sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / span 1 / span 1;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #292c34;
}

#sidebar-bottom {
  grid-area: 2 / 1 / span 1 / 1;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #292c34;
  overflow-x: hidden;
}

.sidebtn {
  width: 90%;
  height: 60px;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  color: #B8E0FF;
  text-align: center;
  font-weight: bold;
  font-size: 14pt;
  border-top: 3px solid #B8E0FF;
  border-bottom: 3px solid #B8E0FF;
  background-color: rgba(0,0,0,0);
  transition: color .3s, background-color .3s;
}

.sidebtn:hover {
  color: #111;
  background-color: rgba(184, 224, 255, 1);
}

#active {
  color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  transition: color .3s, background-color .3s;
}

#active:hover {
  color: #292c34;
  background-color: rgba(255, 255, 255, 1)
}

#title {
  grid-area: 1 / 2 / span 1 / span 1;
}

#page {
  height: 95%;
  color: #292c34;
}

#page > p {
  font-size: 18pt;
  margin-top: 10px;
  line-height: 1.6;
}

#page > h3 {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 0px;
}

#page > h4 {
  font-size: 18pt;
  margin-bottom: 0px;
}

#page > h2 {
  font-size: 24pt;
  margin: 0 0 5px 0;
}
